<div class="pt-5">
  <h2>Регистрация</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :full_name, "Полное имя" %><br />
      <%= f.text_field :full_name, autofocus: true, autocomplete: "Полное Имя", :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :organisation, "Организация" %><br />
      <%= select(:user, :organisation, ['Садик 1', 'Садик 2', 'Садик 3', 'Садик 4', 'Садик 5'], {} ,{ class: 'form-control' }) %>
    </div>
    <div class="field form-group">
      <%= f.label :email, "Электронная почта" %><br />
      <%= f.email_field :email, autocomplete: "Электронная почта", :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password, "Пароль" %>
      <% if @minimum_password_length %>
      <em>(минимум символов <%= @minimum_password_length %>)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Зарегистрироваться", :class => "btn btn-secondary" %>
    </div>
  <% end %>
  <div class="mt-2">
    <%= render "devise/shared/links" %>
  </div>
</div>