<h2>Creating organisation </h2>
<div class="container w-100">
  <%= form_for @organisation do |f| %>
    <div class="row form-group"><%= f.text_field :name, placeholder: 'NAME', required: true, class: 'form-control' %></div>
    <div class="row form-group"><%= f.phone_field :phone, placeholder: 'PHONE', required: true, class: 'form-control' %></div>
    <div class="row form-group"><%= f.text_field :director, placeholder: 'DIRECTOR', required: true, class: 'form-control' %></div>
    <div class="row form-group"><%= f.text_field :note, placeholder: 'NOTE', class: 'form-control' %></div>
    <div class="row form-group"><%= f.submit 'CREATE' %></div>
  <% end %>
</div>