<!DOCTYPE html>
<html>
  <head>
    <title>ZRM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid myclass">

        <%= render 'layouts/navbar' %>

      <div class="row full">
      <% if user_signed_in? %>
        <div class="col-2 sidebar bg-dark">

            <%= render 'layouts/sidebar' %>

        </div>
      <% end %>
        <div class="col content">
          <div class="inner">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
